﻿@{
    ViewBag.Title = "NeweggAPI Test Web";
}

<h2>@ViewBag.Message</h2>


<div style="float: left; margin-right: 50px;">
	<div id="divTree">
	</div>
</div>
<div style="float: left;">
	<div id="divSearch">
	<input type="text" id="tbSearch" />&nbsp;<input type="button" id="btnSearch" value="Search" />
	</div>
	<div id="products"></div>
</div>
<div style="clear: both; margin-bottom: 50px;"></div>
<script type="text/javascript">
	$(document).ready(function () {

		$("#divTree").jstree({
			plugins: ["themes", "json_data"],
			json_data: {
				ajax: {
					url: function (node) {
						return (node && node != -1) ? "/home/GetNodeChildren" : "/home/GetRootNode";
					},
					data: function (node) {
						if (node && node != -1) {
							return node.data();
						}
					}
				}
			}
		})
		.bind("select_node.jstree", function (e, data) {
			return data.inst.toggle_node(data.rslt.obj);
		});
	});
</script>